<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body onLoad="redireccionar()">
    <h1>GRACIAS!</h1>
</body>
<script>
    function redireccionar() {
        setTimeout(redirect, 3000);
    }

    function redirect() {
        location.href="http://localhost:3000/"
    }
</script>
</html>