<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Resultados</h1>
    <% respuestas.forEach(ele=> { %>
        <h2><%=ele.lugar%></h2>
        <h2><%=ele.edad%></h2>
        <h2><%=ele.conocido%></h2>
    <%})%>
</body>
</html>